body {
text-align: center;
background: #373737;
color:#cccccc;

}
div{
	padding-left:25px;
	text-align: left;
	height:50px;
  width: 1350px;
  text-align: center;
  
background:#cccccc; 
color:#FFFFFF;
margin-bottom: 8px;
border-top:outset;
}
a:hover{
background-color: #000000;
text-decoration:overline;
	}
	a:link
{
text-decoration: none;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

th {
  background-color: #303030	;}